
if (outcome != success) of /system-property=ee8.preview.mode:read-resource
    /system-property=ee8.preview.mode:add(value=true)
end-if
/interface=public:write-attribute(name=inet-address, value=${jboss.bind.address.management:{{ hostvars[inventory_hostname].ansible_host }}})
/interface=management:write-attribute(name=inet-address, value=${jboss.bind.address.management:{{ hostvars[inventory_hostname].ansible_host }}})
reload